@charset "UTF-8";
@font-face {
    font-family: Exo;
    src: url('fontes/Exo-ExtraBold.ttf') format('truetype')
    url('fontes/Exo-light') format('truetype');

}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Exo';
    background: black url('imagens/fundo1.png') center center no-repeat fixed;
    background-size: cover;
}
header {
    background: linear-gradient(to bottom, #53c7f5, transparent);
    padding: 10px;
    margin-bottom: 20px;
}
header > a > img { 
    position: relative;
    max-width: 8%;
    transform: translate(500%, 0%);
}

header > img {
    display: inline;
    max-width: 32%;
}
main {
    margin: auto;
    
}
main > h2 {
    font-family: 'Exo';
    color: white;

}
main > p {
    font-family: 'Exo';
    font-weight: normal;
    color: white;
}
a > aside {
    display: inline-block;
    font-family: 'Exo';
    background-color: #f7fcfc81;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px black;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    padding: 15px;
    margin: 10px;
    width: 28%;
    border-radius: 25px;
    box-shadow: 1px 1px 8px #00000073;
    transition: 0.6s;
}
a > aside > img {
    width: 100%;
}
aside:hover {
    background-color: rgb(39, 8, 218);
    width: 30%;
}

footer {
    display: flexbox;
    background-color: blue;
    padding: 10px;
    margin-top: 60px;
}
footer P {
    color: white;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}
footer > img {
    width: 5%;
    position: relative;
    left: 50%;
}